<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

	{% load static %}
    <title>Intelli Freight</title>
	<link rel="stylesheet" href="{% static 'intelli_freight/adminstyle.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

</head>

<body>
<!--    Navbar starts here-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Intelli Freight</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> About us</a></li>
              <li><a href="#"><i  aria-hidden="true"></i> Our Services</a></li>
              <li><a href="#"><i  aria-hidden="true"></i> Contact Us</a></li>
               <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>Why Choose Intelli-Freight</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--    Navbar ends here-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Vessel Arrangement</a></li>
                    <li><a href="#">Truck Parking Arrangement</a></li>
                    <li><a href="#">Daily Report</a></li>
                    <li><a href="#">Positioning of Containers</a></li>
                    <li><a href="#">Bad Weather Arrangements</a></li>
                    <li><a href="#">Accounts</a></li>

{#                </ul>#}
{#                <ul class="nav nav-sidebar">#}
{#                    <li class="active"><a href="#">Reports</a></li>#}
{#                    <li><a href="#">Revenue</a></li>#}
{#                    <li><a href="#">Countries</a></li>#}
{#                    <li><a href="#">Spammers</a></li>#}
{#                </ul>#}
            </div>
            <div class="col-sm-9 col-md-10 main">
                <h1 class="page-header"><i class="fa fa-tachometer" aria-hidden="true"></i> Today</h1>
                <div class="row placeholders">
                    <div class="col-xs-12 col-sm-12 placeholder">
                       <h2 style="text-align: center; font-size: 2.5em;">Arriving ships</h2>
                        <div class="col-xs-3 col-sm-3 placeholder"class="card" style="width: 20em;">
                          <img src="{% static 'intelli_freight/images/5a2993aba3b47486088b4667.jpeg' %}"  style="width: 200px; height: 150px;" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Voyager 1</h5>
                                <p class="card-text">Capacity: 5000 TEU</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Status: Waiting To Be Unloaded</li>
                            <li class="list-group-item">Priority: Medium</li>
                            <li class="list-group-item">Location : Dock 7</li>
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">Get Detailed Report</a>
                          </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 placeholder"class="card" style="width: 20em;">
                          <img src="{% static 'intelli_freight/images/download.jpeg' %}"style="width: 200px; height: 150px;" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Supremer 2</h5>
                                <p class="card-text">Capacity : 3655 TEU</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Status: Unloading In Progress</li>
                            <li class="list-group-item">Priority: NA</li>
                            <li class="list-group-item">Location: Dock 1</li>
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">Get Detailed Report</a>
                          </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 placeholder"class="card" style="width: 20em;">
                          <img src="{% static 'intelli_freight/images/file-20181214-185255-utuva1.jpg' %}"style="width: 200px; height: 150px;" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Helios 7</h5>
                                <p class="card-text">Capacity: 4589 TEU</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Status: Yet To Arrive</li>
                            <li class="list-group-item">Priority: Urgent</li>
                            <li class="list-group-item">Location: NA</li>
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">Get Detailed Report</a>
                          </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 placeholder"class="card" style="width: 20em;">
                          <img src="{% static 'intelli_freight/images/latraviata-501749698.jpg' %}"style="width: 200px; height: 150px;" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Cruiser 777</h5>
                                <p class="card-text">Capacity: 5699 TEU</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Status: Unloading Finished</li>
                            <li class="list-group-item">Priority: Low</li>
                            <li class="list-group-item">Location: Dock 4</li>
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">Get Detailed Report</a>
                          </div>
                        </div>
                    </div>
                </div>
                <h2 class="sub-header">Announcements!</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID#</th>
                                <th>Announcement</th>
                                <th>Urgency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>234</td>
                                <td>Staff needed at Dock 4</td>
                                <td>Urgent</td>
                            </tr>
                            <tr>
                                <td>674</td>
                                <td>Cruiser 747 Is Now Leaving Dock 5</td>
                                <td>Low</td>
                            </tr>
                            <tr>
                                <td>222</td>
                                <td>Dock 9 Temporarily Closed Due To Fechanical Failure </td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td>883</td>
                                <td>Helios 999 is arriving to the Terminal</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td>773</td>
                                <td>Truck Congestion near Gate 4</td>
                                <td>Urgent</td>
                            </tr>
                            <tr>
                                <td>121</td>
                                <td>Machine At Dock 2 needs refuelling</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td>554</td>
                                <td>H.M.S 88 Is Arriving at Dock 12</td>
                                <td>Low</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <p class="pull-right"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Move to Top</p>
    </footer>
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script>
	</script>

</body>

</html>
